@import '../../../../scss/variables';

.btn {
  &__dragon {
    color: map-get($colors,  "white-alt");
    background-color: map-get($colors,  "light-green");
    &:hover {
      font-weight: bold;
    }
    @media only screen and (max-width: 720px) {
      font-size: 15px;
  }
  }
}
