<div class="login">
    <div class="login__form" [formGroup]="loginForm">
        <img class="login__logo" src="assets/img/logo.png">
        <div class="login__title">
            Login in to your dragonpedia
        </div>
        <app-dragon-input class="login__field" [label]="'Username'" [control]="loginForm.get('username')"
            [type]="'text'" [validatorsErrorMessages]="usernameErrorMessages">
        </app-dragon-input>
        <app-dragon-input class="login__field" [label]="'Password'" [control]="loginForm.get('password')"
            [type]="'password'" [validatorsErrorMessages]="passwordErrorMessages"></app-dragon-input>
        <div *ngIf="isCredentialsWrong" class="alert alert-danger login__error" role="alert">
            Your username or password do not match.
        </div>
        <app-dragon-btn class="login__btn" (clickBtn)="onLogin()" [content]="'Login'"></app-dragon-btn>
    </div>
</div>

<ng-template #wrongCredentials class="error">

</ng-template>