.login {
  background: #75a4a0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  &__title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  &__form {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
    border-radius: 6px;
    padding: 1.2em 2.6em;
  }
  &__error {
    margin-top: 15px;
  }
  &__field {
    font-size: 18px;
  }
}
