<div class="home">
    <img src="assets/img/dragon-home.png" alt="">
    <h1 class="home__title">
        Welcome to your dragonpedia!
    </h1>
    <h3 class="home__subtitle">
        A place to consult, create and manage your dragons!
    </h3>
    <h5 class="home__text">
        We offer easy access to all dragons you would like to store, with the freedom of 
        having as many as you want, and also edit and delete dragons at any time. Everything according to your needs!
    </h5>
    <app-dragon-btn [content]="'Create a new dragon'" (clickBtn)="onClick()"></app-dragon-btn>
</div>
