@import '../../../scss/mixins';

.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    text-transform: uppercase;
    @include title();
  }
  &__title, &__subtitle, &__text {
    margin: 20px auto;
  }
}
