@import "../../../scss/variables";

.header {
  color: map-get($colors, "light-green");
  width: 100vw;
  height: 90px;
  box-shadow: map-get($colors, "black-alt") 0 0 10px;
  display: flex;
  justify-content: space-between;
  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
  }
  &__title {
    text-transform: uppercase;
    font-size: 28px;
  }
  &__image {
    width: 100px;
  }
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    margin-left: 15px;
    cursor: pointer;
    outline: none;
    &--active {
      font-weight: bold;
    }
  }
  &__btn {
    margin-right: 20px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 720px) {
  .header {
    &__title {
      font-size: 25px;
    }
    &__image {
      width: 80px;
    }
    &__link {
      margin-left: 10px;
      font-size: 15px;
    }
    &__btn {
      margin-left: 10px;
    }
  }
}

@media only screen and (max-width: 630px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    height: 130px;
    &__title {
      font-size: 23px;
    }
    &__btn {
      margin-right: 0px;
    }
  }
}
